*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
mvp_v1.md
mvp_v2.md
/react-owner-front
/vue-dashboard-front
storage/framework/views/.gitignore
storage/framework/views/a23d9edac42e2786ffacee689d051654.php
/storage
